.miami-nights{
  margin-top: -15px;
  color: #0dffdd;
  font-size: larger;
  }
  
  .header {
    font: lucida;
    font-weight: bolder;
    color: white;
  }
  
  .saxophone-solo-in-an-empty-street-at-night-under-a-full-moon{
  color: #0dffdd;
  font-size: larger;
  padding-left: 12px;
  padding-right: 12px;
  }
  
  p {
  text-align: center;
  padding: 0 20px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
  }
  
  html {
    box-sizing: border-box;
  }
  
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: flex;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: lightgray;
    border: 0px, 0px, 10px, 0px;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.61);
  }
  
  .about-section {
    padding: 50px;
    text-align: left;
    background-color: #474e5d;
    color: white;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  
  img.wrap {
    float: left;
    max-width: 35%;
    min-width: 25%;
    border-radius: 10px;
    margin-right: 14px;
    margin-bottom: 10px
  }
  
  #photoContainer {
    margin-right: 14px;
    margin-bottom:14px;
    float: left;
    max-width: 30%;
    min-width: 5%;
    margin-bottom: 5px;
    max-height: max-content;
  }
  
  .footer {
    position: bottom !important;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: darkgrey;
    flex-shrink: 0;
  }
  
  .container {
    padding: 0 15px;
    padding: 0 16px 0 16px;
    margin-top: 27px;
    margin-bottom: 67px;
    background-color: rgba(20, 20, 20, 0.81);
  }
  
  .content-padding{
    padding: 15px;
  }
  
  html, body {
    height: 100%;
  }
  
  html{
    position: relative;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
    position: inherit;
  }
  
  .portfolio-item {
    min-width: 305px;
    height: 350px;
    background-color: rgb(80, 80, 80);
    color: #ff83ff;
    border-radius: 10px;
    display: block;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.61);
    margin: 20px 6px 10px 6px;
    background-color: rgba(80, 80, 80, 0.98);

  }
  
  .portfolio-picture {
    max-width: 325px;
    display: block;
    margin: auto;
    -webkit-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.81);
    -moz-box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.681);
    box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.81);
    width: 100%;
  }
  
  .portfolio-picture:active {
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
         box-shadow: inset 0px 0px 5px #c1c1c1;
  }
  
  .heading-underline {
    border-bottom-style: solid;
    border-bottom-color: rgb(216, 0, 216, .87);
    border-bottom-width: 5px;
  }
  
  .short-col {
      max-height: 30px;
  }
  
  .contact-content-padding {
      padding: 0px 15px 15px 15px;
  }
  
  #about {
    color: #ff83ff;
  }
  
  .footer-text {
     margin: auto;
  }
  
  a {
    color: black;
  }
  
  #footer-row {
    height: 40px;
  }
  
  footer {
  position: fixed;
  }
  
  .github-link {
  text-align: center;
  }
  
  a p {
  margin-bottom: -15px;
  }
  
  .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
  visibility: visible;
  }
  
  .left-text {
  text-align: left;
  }